<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>index</title>
		<meta name="description" content="">
		<meta name="author" content="Marcus Willock">

		<meta name="viewport" content="width=device-width; initial-scale=1.0">

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		
		<link rel="stylesheet" href="static/index.css" type="text/css">
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/index.js"></script>
        
	</head>

	<body>
		<div>
			<header>
				<h1>Magic Mail (Python version)</h1>
			</header>
	
			<div class = "body">
					
				<form action="/" autocomplete="off" method="post">
  					From (name):     <input type="text" name="from_name"><br>
  					From E-mail:     <input type="email" name="from_email"><br>
  					Message subject: <input type="text" name="message_subject"><br>
  					<br>
  					
  					Message <br /><textarea name="message" rows="4" cols="50">Please enter you message here.</textarea><br /><br />
  					
  					To (name):       <input type="text" name="to_name"><br>
  					To E-mail:       <input type="email" name="to_email" autocomplete="off"><br>
  					<input type="submit">
				</form>
					
			</div>
			
			<div>
				{% with messages = get_flashed_messages() %}
            	{% if messages %}
               	 Results:
                <pre>
                    {% for message in messages %}
						{{ message }}
                    {% endfor %}
                </pre>
            	{% endif %}
        		{% endwith %}
				
			</div>

			<footer>
				<p>
					&copy; Coded by Marcus Willock
				</p>
			</footer>
		</div>
	</body>
</html>
